body { 
    margin: 0; 
    padding: 0; 
}

.app {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    padding: 0;
}

.header {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 6.66vh;
    background-color: pink;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 6.66vh;
    background-color: gray;
    font-size: small;
}

.body {
    display: flex;
    flex-direction: row;
    height: 86.66vh;
}

.left {
    display: flex;
    justify-content: left;
    flex-grow: 1;
    background-color: red;
}

.right {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    background-color: blue;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    background-color: green;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: medium;
}
